<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-ui</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>MSMessageExtensionCategory</key>
			<string>interactive</string>
			<key>MSMessageExtensionLaunchPresentationStyle</key>
			<string>expanded</string>
			<key>MSSupportedPresentationContexts</key>
			<array>
				<string>MSMessagesAppPresentationContextMessages</string>
			</array>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
